#content {
    background: #fff;
}
.meeting-single {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7em 0;
}

.meeting-single p {
    margin: 0;
}

.meeting-single .meeting-title {
    width: 100%;
    font-size: 21px;
    font-weight: 400;
}

.meeting-single .divider {
    width: 100%;
    height: .45em;
    margin: .5em 0 2em;
    border-radius: 2px;
    background: #f5f5f5;
}

.meeting-single .item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: .9em 1.5em;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: #fff;
}

.meeting-single .item > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meeting-single .item-mark {
    width: .4em;
    height: 1.75em;
    margin-left: 1em;
    background: #c15552;
    border-radius: 25px;
}

.meeting-single .item .meeting-title,
.meeting-single .item-meta .meta-value {
    font-size: 18px;
}

.meeting-single .item .meeting-category,
.meeting-single .item-meta .meta-name {
    font-size: 14px;
    line-height: 26px;
    color: #8f8f8f;
}

.meeting-single .item-main-data {
    flex: 2;
}

.meeting-single .item-meta {
    flex: .85;
    text-align: center;
}

.meeting-single .item-meta .meta-value {
    font-size: 17px;
    line-height: 23px;
    font-weight: 600;
    color: #c15552;
}

.meeting-single .item-meta .meta-name {
    font-size: 12px;
}

.meeting-single .mtu-btn {
    flex: .4;
    text-align: center;
    border-radius: 10px;
    background: #dc3545;
    color: #fff;
    padding: .5em 0;
    font-size: 16px;
    font-weight: 400;
    transition-duration: .3s;
}

.recordings-header {
    width: 100%;
    margin-top: 2em;
    font-size: 21px;
    font-weight: 400;
}

.recordings {
    width: 100%;
    background: #f5f5f5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.recordings.animated {
    animation: load .4s ease;
}

.recordings .item-mark {
    background: #28a745;
}

.recordings .mtu-btn {
    background: #007bff;
}
.recordings .item-meta .meta-value {
    color: unset;
    font-weight: 400;
}

.recordings #recordings-placeholder {
    background: #fff;
    text-align: center;
}

@keyframes load {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 790px) {
    .meeting-single .item-main-data {
        flex-basis: calc(100% - 1.4em);
    }

    .meeting-single .item-meta {
        text-align: unset;
    }
}

@media screen and (max-width: 550px) {
    .meeting-single .item-meta {
        flex-basis: 100%;
        margin-top: .5em;
    }

    .meeting-single .mtu-btn {
        flex-basis: 100%;
        margin-top: .6em;
    }
}