#content {
    background: #fff;
}

.meeting-single {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7em 0;
}

.meeting-single p {
    margin: 0;
}

.meeting-single .meeting-title {
    width: 100%;
    font-size: 21px;
    font-weight: 400;
}

.meeting-single .divider {
    width: 100%;
    height: .45em;
    margin: .5em 0 2em;
    border-radius: 2px;
    background: #f5f5f5;
}

.meeting-single .item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: .9em 1.5em;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    background: #fff;
}

.meeting-single .item>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meeting-single .item-mark {
    width: .4em;
    height: 1.75em;
    margin-left: 1em;
    background: #c15552;
    border-radius: 25px;
}

.meeting-single .item .meeting-title,
.meeting-single .item-meta .meta-value {
    font-size: 18px;
}

.meeting-single .item .meeting-category,
.meeting-single .item-meta .meta-name {
    font-size: 14px;
    line-height: 26px;
    color: #8f8f8f;
}

.meeting-single .item-main-data {
    flex: 2;
}

.meeting-single .item-meta {
    flex: .85;
    text-align: center;
}

.meeting-single .item-meta .meta-value {
    font-size: 17px;
    line-height: 23px;
    font-weight: 600;
    color: #c15552;
}

.meeting-single .item-meta .meta-name {
    font-size: 12px;
}

.meeting-single .mtu-btn {
    flex: .4;
    text-align: center;
    border-radius: 10px;
    background: #dc3545;
    color: #fff;
    padding: .5em 0;
    font-size: 16px;
    font-weight: 400;
    transition-duration: .2s;
}

.meeting-single .mtu-btn:hover {
    scale: 1.05;
}

.single-part-header {
    width: 100%;
    margin-top: 2em;
    font-size: 21px;
    font-weight: 400;
}

.recordings {
    width: 100%;
    background: #f5f5f5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.recordings .item-mark {
    background: #28a745;
}

.recordings .mtu-btn {
    background: #007bff;
}

.recordings .item-meta .meta-value {
    color: unset;
    font-weight: 400;
}

.recordings #recordings-placeholder,
.pamphlets #pamphlets-placeholder {
    background: #fff;
    text-align: center;
}

.meeting-single .pamphlet-list {
    display: grid;
    gap: 1.5em 20px;
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
    justify-items: start;
    overflow: hidden;
    padding-top: 0;

    --line-offset: calc(1.5em / 2);
    --line-thickness: 2px;
}

.pamphlet-list .pamphlet {
    max-width: 22em;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-top: .6em;
}

.pamphlet-list .pamphlet::after,
.pamphlet-list .pamphlet::after {
    content: '';
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
}

.pamphlet-list .pamphlet::after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
}

.pamphlet .pamphlet-icon {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background: #d1d4db;
    padding: .3em;
    position: relative;
}

.pamphlet .pamphlet-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    width: unset;
    height: unset;
    color: #303440;
}

.pamphlet .pamphlet-name {
    font-size: 18px;
    font-weight: 400;
    margin: .7em;
}

.pamphlet-list #pamphlets-placeholder {
    align-self: center;
    justify-self: center;
    margin: 1em 0 .8em;
}

.animated {
    animation: load .4s ease;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    f5f5f5 100% {
        opacity: 1;
    }
}

@media screen and (max-width: 790px) {
    .meeting-single .item-main-data {
        flex-basis: calc(100% - 1.4em);
    }

    .meeting-single .item-meta {
        text-align: unset;
    }
}

@media screen and (max-width: 550px) {
    .meeting-single .item-meta {
        flex-basis: 100%;
        margin-top: .5em;
    }

    .meeting-single .mtu-btn {
        flex-basis: 100%;
        margin-top: .6em;
    }
}